body,
html {
  margin: 0;
}

body {
  overflow-x: hidden;
}

#root {
  z-index: 10;
  position: absolute;
  width: 100%;
}

#home_wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "SVN-Gilroy-Light";
  font-style: normal;
  font-weight: normal;
  src: url("./src/assets/fonts/SVNGilroyLight.woff") format("woff");
}

@font-face {
  font-family: "SVN-Gilroy-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("./src/assets//fonts/SVNGilroyBold.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  src: url("./src/assets/fonts/Poppins-Regular.ttf") format("truetype");
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  direction: RTL;
  border: 1px solid #eee ;
  background: transparent;
  padding: 15px 0;
  color: #383838;
  font-family: SVN-Gilroy-Bold;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  outline: none;
}
